.calculator {
  width: min-content;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 2.1rem;
  border-radius: 1rem;
  background: #4b5568;
}

.description {
  font-size: 2rem;
  margin: 0.8rem;
  margin-bottom: 1.2rem;
  color: #fff;
  text-align: right;
  min-height: 5rem;
}
